*svn*
*.pyc
*.pyo
.project
.pydevproject
*.swp
*.swo
build
dist
*.egg-info
.settings
*.wpr
*.wpu
.idea
.coverage
cover
htmlcov
*~
*djangoORM.db
doc/_build
*kate-swp
var/log/pulpdist/*.log*
var/www/pub/pulpdist_sync_logs/*.log*
