{% extends "pulpdist/base.tmpl" %}
{% load i18n %}
{% load pulpdist_tags %}

{% block title %}{{ title }} | {% trans 'Pulp Server Status' %}{% endblock %}

{% block site-header-left %}
  <a href="https://fedorahosted.org/pulpdist/"><img src="{% pulpdist_image_dir %}pulpdist-logo.png"
     alt="logo" />
  </a>
{% endblock %}

{% block site-header-right %}
  {% if user.is_active %}
  <div id="user-tools">
    {% trans 'Welcome,' %}
    <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
    {% block userlinks %}
        {% url pulpdist_logout as logout_url %}
        {% if logout_url %}
            <a href="{{ logout_url }}">
        {% else %}
            <a href="{{ root_path }}logout/">
        {% endif %}
        {% trans 'Log out' %}</a>
    {% endblock %}
  </div>
{% endif %}
{% endblock %}

{% block sitestyle %}
  <link rel="shortcut icon" href="{% pulpdist_image_dir %}favicon.png" type="image/png"/>
  <link rel="stylesheet" type="text/css" href="{% pulpdist_style_dir %}site.css"/>
{% endblock %}

{% block breadcrumbtrail%}
{% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{crumb.link}}">{% trans crumb.label %}</a>
{% endfor %}
{% endblock %}

{% block header %}
  <span class="main-content-header-text">
  {% if pulp_server %}
    {% trans 'Pulp Server Status for' %} {{ pulp_server.pulp_site }}
  {% else %}
    {% trans 'Pulp Server Status' %}
  {% endif %}
  </span>
{% endblock %}

{% block footer %}
  <span class="name">{% trans 'PulpDist Web UI' %} {% pulpdist_version %}</span>
  <span class="reportbug"><a href="https://bugzilla.redhat.com/enter_bug.cgi?product=PulpDist">Report a bug</a></span>
{% endblock %}

