{% extends "pulpdist/base_site.tmpl" %}
{% load i18n %}
{% load django_tables2 %}
{% load pulpdist_tags %}

{% block content %}
    <h2>{% trans 'Pulp Repository Details for' %} {{ object.display_name }}</h2>
    {{ object.description }}

    <h3><p>{% trans 'Automatic Update Configuration' %}</p></h3>
    <ul>
        {% if object.importer_info %}
            <li><b>{% trans 'Automatic update type' %}:</b> {{ object.importer_info.importer_type_id }}
                   ({{ object.importer_info.config.enabled|yesno:"ENABLED,DISABLED" }})</li>
            <li><b>{% trans 'Last updated' %}:</b> {{ object.last_sync_attempt }}</li>
            <li><b>{% trans 'Last update result' %}:</b> {{ object.last_status }}</li>
            <li><b>{% trans 'Update in progress?' %}:</b> {{ object.importer_info.sync_in_progress }}</li>
            <li><b>{% trans 'Configuration details' %}:</b><ul>
            {% for k, v in object.importer_config %}
                <li><b>{{ k }}:</b> {{ v }}</li>
            {% endfor %}
            </ul></li>
        {% else %}
            <li>{% trans 'Automatic updates not configured' %}</li>
        {% endif %}
    </ul>

    <h3><p>{% trans 'Synchronisation History' %}</p></h3>
    <ul>
        <li><a href="{% url pulp_repo_sync_history pulp_server.server_slug repo_id %}">{% trans "Sync History Summary" %}</a></li>
        {% if object.latest_sync_log_url %}
            <li><a href="{{ object.latest_sync_log_url }}">{% trans 'Latest Sync Log' %}</a></li>
            <li><a href="{{ object.latest_sync_log_url }}.prev">{% trans 'Previous Sync Log' %}</a></li>
            <li><a href="{{ object.latest_sync_log_url }}.bak">{% trans 'Latest Successful Sync Log' %}</a></li>
        {% else %}
            <li>{% trans 'Could not determine expected location for sync log files' %}</li>
        {% endif %}
    </ul>

    <h3><p>{% trans 'Annotations' %}</p></h3>
    <ul>
        {% if object.annotations %}
            {% for k, v in object.annotations.iteritems %}
                <li><b>{{ k }}:</b> <pre>{{ v }}</pre><br/></li>
            {% endfor %}
        {% else %}
            <li>{% trans 'No repository annotations' %}</li>
        {% endif %}
    </ul>
{% endblock %}
