{% extends "pulpdist/base_site.tmpl" %}
{% load i18n %}
{% load django_tables2 %}
{% load pulpdist_tags %}

{% block content %}
  {% trans 'Pulp Repository Details' %}
  <ul>
    <li><a href="{% url pulp_repo_sync_history pulp_server.server_slug repo_id %}">{% trans "Repo Sync History" %}</a></li>
  </ul>
{% endblock %}
